<div class="product">
    <div class="product-header row">
        <div class="col">
            <label for="">RATE</label>
            <span>8/10</span>
        </div>
        <div class="col">
            <label for="">PRICE</label>
            <span>$810</span>
        </div>
        <div class="col">
            <button class="btn btn-primary">BUY NOW</button>
        </div>
    </div>
    <div class="product-body">
        <img src="images/hp.jpg" alt=""/>
    </div>
</div>
