<!-- Begin footer -->
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row text-center m-5">
            <div class="col">
                <h1>
                    <a class="navbar-brand" href="/"
                    >S:)ft<span style="color: #00e8e8;">Hem</span></a
                    >
                </h1>
                <ul class="list-inline">
                    <li class="list-inline-item">Home</li>
                    <li class="list-inline-item">Contact</li>
                    <li class="list-inline-item">About</li>
                </ul>
            </div>
            <div class="col">
                <div class="footer-contact">
                    <svg
                            width="2em"
                            height="2em"
                            viewBox="0 0 16 16"
                            class="bi bi-geo-alt text-warning"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                        />
                    </svg>
                    <span>07 HKR</span>
                </div>
                <div class="footer-contact">
                    <svg
                            width="2em"
                            height="2em"
                            viewBox="0 0 16 16"
                            class="bi bi-telephone-outbound text-warning"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.47 16.47 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.471 17.471 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"
                        />
                    </svg>
                    <span>+768 9408989</span>
                </div>
                <div class="footer-contact">
                    <svg
                            width="2em"
                            height="2em"
                            viewBox="0 0 16 16"
                            class="bi bi-envelope text-warning"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
                        />
                    </svg>
                    <span>email@mail.com</span>
                </div>
            </div>
            <div class="col">
                <p>Heading</p>
                <small>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae
                    consequatur perspiciatis dignissimos ducimus, reprehenderit
                    commodi hic harum vero labore eos maiores, sequi sunt ratione
                    porro nisi expedita culpa natus ab?
                </small>
            </div>
        </div>
    </div>
</footer>
