<!-- Header  -->
<section id="showcase">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="showcase text-center">
                <div class="showcase-body">
                    <div
                            class="d-flex flex-row justify-content-center align-items-center"
                    >
                        <img
                                class="text-success"
                                src="/images/icons/alarm-fill.svg"
                                alt=""
                        />
                        <img
                                src="/images/icons/archive.svg"
                                alt=""
                        />
                    </div>
                    <h1>Token Based Authentication Made Easy</h1>
                    <p>
                        Learn about token based authentication and how to easily
                        implement JWT in your applications.
                    </p>

                    <div class="d-flex flex-row justify-content-center buttons">
                        <button class="btn btn-primary btn-lg">Register</button>
                        <button class="btn btn-warning btn-lg">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
