<div class="row">
    <div class="post">
        <h2>TOKEN BASED AUTHENTICATION</h2>
    </div>
</div>
<div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 mb-3 text-center"
>
    <% for(let i = 0; i < 20; i++) { %>
        <div class="col"><%- include("partials/_card.ejs") %></div>
    <% } %>
</div>
