<div class="row">
    <div class="post">
        <h2>PRODUCTS</h2>
    </div>
</div>
<div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 mb-3 text-center"
>
    <% for(let i = 0; i < products.length; i++) { const product = products[i]; %>

    <div class="col">

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"><%- product.name %></h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $<%- product.price %>
                    <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li><%- product.description %></li>
                </ul>
                <a
                        href="details"
                        type="link"
                        class="btn btn-lg btn-block btn-outline-primary"
                >
                    Sign up for free
                </a>
            </div>
        </div>

    </div>
    <% } %>

</div>
